/* 
 * https://github.com/jtrost/Complete-CSS-Reset
*/

/* Displays for HTML 5 */
/*change padding to 0px on Phoenix console*/
.table th, .table td {
    padding: 0px !important;
    vertical-align: top;
    border-top: 1px solid darkgray !important;
}